/* ---------------------------------------------------------
                            Сommon
   ---------------------------------------------------------*/
// preloader
.preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background: $dark;

  .pulse {
    position: relative;
    left: 50%;
    top: 50vh;
    margin-left: -40px;
    margin-top: -40px;

    &::before, &::after {
      content: '';
      border: 5px solid #323232;
      width: 80px;
      height: 80px;
      border-radius: 500px;
      position: absolute;
    }

    &::before {
      animation: pulse-outer .8s ease-in infinite;
    }

    &::after {
      animation: pulse-inner .8s linear infinite;
    }
  }
}

@keyframes pulse-outer {
  0% {
    @include opacity(100);
  }
  50% {
    @include opacity(50);
  }
  100% {
    @include opacity(0);
  }
}

@keyframes pulse-inner {
  0% {
    @include opacity(0);
    transform: scale(0);
  }
  100% {
    @include opacity(100);
    transform: scale(1);
  }
}

// button to top

.top {
  position: fixed;
  bottom: 25px;
  right: -100px;
  width: 50px;
  height: 50px;
  z-index: 12;
  cursor: pointer;
  font-size: 26px;
  line-height: 50px;
  text-align: center;
  background: #e0e0e0;
  color: #666;
  border-radius: 50%;
  opacity: .5;
  @extend %transition;
  
  &:hover {
    background: $accent;
    opacity: 1;
  }

  &.active {
    right: 25px;
  }
}

header, section, footer {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.inverse {
  background: $dark;
  color: $white;
}

.overlay {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba($black, .5);
  }
}

.heading {
  text-transform: none;
  font-size: $h4-font-size;
  font-family: "SourceSansProRegular";
  color: $main;
  text-align: center;
  text-transform: capitalize;
  margin: 26px 0;
  padding: 0 30px;

  @include media("<desktop") {
    margin: 18px 0;
    font-size: 3.2em;
  }
  @include media("<tablet") {
    margin: 10px 0;
    font-size: 1.8em;
  }

  &__text {
    text-align: center;
    font-family: 'MontserratBold';
    font-size: 1.125em;
    text-transform: uppercase;

    @include media(">=desktop") {
      margin-bottom: 60px;
    }
    @include media("<desktop") {
      margin-bottom: 48px;
    }
    @include media("<tablet") {
      margin-bottom: 0;
    }
  }
}